/Bai1.exe
/Bai2.exe
/Bai4.exe
/Bai5.exe
/bit.exe
/C++.exe
/C_don_gian.exe
/Dien_tich_hinh_tron.exe
/Ham_printf.exe
/Kich_thuoc_kieu_moi.exe
/Kieu_hop.exe
/Mang.exe
/mang_2_chieu.exe
/MSSV.exe
/Nhap_ten.exe
/quick_test.exe
/Size_of_struct.exe
/Thao_tac_du_lieu.exe
/Tinh_gia_tri_luong_gia.exe
/Toan_Tu_sizeof.exe